<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Ceph Dashboard</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.slate.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/ceph.dash.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}" />
</head>
<body>
  <div class="container">
    <div class="well">
      <h1>Ceph Dashboard</h1>
      <p>
        <!--show warning icon if data is getting to old-->
        <span id="last_update" style="display:none;" class="glyphicon glyphicon-warning-sign icon-warn"></span>
        <!--add cluster fsid for informational purposes-->
        <small id="cluster_fsid"></small>
      </p>
    </div>

    <!--START CEPH OVERALL CLUSTER STATUS-->
    <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
          Ceph Cluster Overall Status
        </h3>
      </div>
      <!--here we add the overall status-->
      <div class="panel-body" id="overall_status"></div>
    </div>
    <!--END CEPH OVERALL CLUSTER STATUS-->

    <!--START CEPH MONITOR STATUS-->
    <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
          Ceph Cluster Monitor Status
        </h3>
      </div>
      <div class="panel-body">
        <!--here we add the monitor status-->
        <div class="row" id="monitor_status"></div>
      </div>
    </div>
    <!--END CEPH MONITOR STATUS-->

    <!--START CEPH OSD STATUS-->
    <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
          Ceph Cluster OSD Status
        </h3>
      </div>
      <div class="panel-body" align="center">

        <!--here we add warnings about nearfull / full osds-->
        <div id="osd_warning"></div>

        <div class="row">
          <div class="col-md-3">
            <div class="panel panel-info">
              <div class="panel-heading">Total</div>
              <!--here we add the total number of osds-->
              <div class="panel-body" id="num_osds"></div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-success">
              <div class="panel-heading">In</div>
              <!--here we add the number of osds with IN state-->
              <div class="panel-body" id="num_in_osds"></div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-success">
              <div class="panel-heading">Up</div>
              <!--here we add the number of osds with UP state-->
              <div class="panel-body" id="num_up_osds"></div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-danger">
              <div class="panel-heading">Unhealthy</div>
              <!--here we count the osds with and unhealthy state-->
              <div class="panel-body" id="unhealthy_osds"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--END CEPH OSD STATUS-->

    <!--START CEPH VOLUMES-->
    <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
          Ceph Volumes
        </h3>
      </div>
      <div class="panel-body" align="center">

        <!--here we add warnings about nearfull / full osds-->
        <div id="osd_warning"></div>
        <div class="row">

          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createVolume" >Create Volume</button>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
            <thead> <tr> <th>Volume</th> <th> Ceph Cluster </th> <th> OS Project </th> <th> OS PV Bound </th></tr> </thead>
            <tbody>
              {% for rbd_image in data['rbd_images'] %}
                <tr> <td>{{ rbd_image['name'] }}</td> <td>mex01</td> <td>tacolayer</td> <td> <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span> </td> </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
    <div class="modal fade" id="createVolume" tabindex="-1" role="dialog" aria-labelledby="createVolume">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create Volume</h4>
        </div>
        <div class="modal-body">
          <form id="createVolumeForm">

            <div class="form-group">
              <label for="volumeName">Volume Name</label>
              <input type="text" class="form-control" id="volumeName" placeholder="Volume Name">
            </div>

            <div class="form-group">
              <label for="volumeSize">Volume Size (GB)</label>
              <input type="number" class="form-control" id="volumeSize" value="100">
            </div>

            <div class="form-group">
              <label for="clusterSelect">Ceph Cluster</label>
              <br/>
              <select id="clusterSelect" name="cluster" form="createVolumeForm" class="selectpicker">
                <option value="mex01">mex01</option>
                <option value="mon01">mon01</option>
              </select>
            </div>

            <div class="form-group">
              <label for="clusterSelect">Openshift Project</label>
              <br/>
              <select id="clusterSelect" name="project" form="createVolumeForm" class="selectpicker">
                <option value="tacolayer">tacolayer</option>
                <option value="openshift-infra">openshift-infra</option>
              </select>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>
    <!--END CEPH VOLUMES -->

    <!--START GRAPHITE METRICS-->
    {% if "graphite" in config or "influxdb" in config %}
    <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
          Ceph Cluster Performance Metrics
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          {% for index in config.get('graphite', {}).get('metrics', []) %}
            <div class="col-md-6">
              <div id="graphite{{ loop.index }}" class="graphite"></div>
            </div>
          {% endfor %}
          {% for index in config.get('influxdb', {}).get('metrics', []) %}
            <div class="col-md-6">
              <div id="influxdb{{ loop.index }}" class="influxdb"></div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    <!--END CEPH OSD STATUS-->


    <!--START CEPH PLACEMENTGROUP STATUS-->
    <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
          Ceph Cluster Placement Group Status
        </h3>
      </div>
      <div class="panel-body">

        <div class="row">

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Storage</div>
              <!--here we place the fancy storage usage gauge-->
              <div class="panel-body" id="utilization" style="height:385px"></div>
              <div class="panel-footer">
                <strong>
                  <!--here we place the text information about storage usage-->
                  <center id="utilization_info">
                  </center>
                </strong>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Write / second</div>
              <div class="panel-body" align="center">
                <!--here we add the bytes written per second-->
                <h1 id="write_bytes"></h1>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Read / second</div>
              <div class="panel-body" align="center">
                <!--here we add the bytes read per second-->
                <h1 id="read_bytes"></h1>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Operations / second</div>
              <div class="panel-body" align="center">
                <!--here we add the operations per second-->
                <h1 id="operations_per_second"></h1>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">PG Status</div>
              <!--here we place the fancy pg donut chart-->
              <div class="panel-body" id="pg_status" style="max-width:300px;height: 385px;"></div>
              <div class="panel-footer">
                <strong>
                  <!--here we add the total number of placement groups-->
                  <center id="pg_status_info">
                  </center>
                </strong>
              </div>
            </div>
          </div>

        </div>

        <!--START CEPH RECOVERING SECTION-->
        <div class="row">
          <div class="col-md-4" id="recovering_bytes"></div>
          <div class="col-md-4" id="recovering_keys"></div>
          <div class="col-md-4" id="recovering_objects"></div>
        </div>
        <!--END CEPH RECOVERING SECTION-->

      </div>
    </div>
    <!--END CEPH PLACEMENTGROUP STATUS-->

  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/globalize.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dx.chartjs.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.byte.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.tooltip.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ceph.dash.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

</body>
</html>
